<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddUserToUserlistController</servlet-name>
        <servlet-class>samples.controller.AddUserToUserlistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginController</servlet-name>
        <servlet-class>samples.controller.UserLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>samples.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddController</servlet-name>
        <servlet-class>samples.controller.UserAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstallationController</servlet-name>
        <servlet-class>samples.controller.InstallationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserToUserlistController</servlet-name>
        <url-pattern>/AddUserToUserlistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/UserLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddController</servlet-name>
        <url-pattern>/UserAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstallationController</servlet-name>
        <url-pattern>/InstallationController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
